@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text&display=swap');

$dark: black;
$light: white;
$lighter: #d5d6d2;
$darker:#3a5199;
$main-text-color: #D1D7E0;
$main-highlight-color: #802BB1;

$grape: #564F6F;
$grey: #4C495D;

$main-font: 'Heebo', sans-serif;
$barcode: 'Libre Barcode 128 Text', cursive;
$section-heading-size: 36px;
$section-content-size: 18px;
$section-container-padding: 10px;
$section-heading-margin: 20px auto;
$padding-1200: 40px;
$mobile-heading-size: 28px;
$mobile-content-size: 16px;
$mobile-heading-margin: 30px auto;
$padding-576: 14px;